apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: admin@lornu.ai
    privateKeySecretRef:
      name: letsencrypt-staging-key
    solvers:
    - dns01:
        cloudDNS:
          project: gcp-lornu-ai
          hostedZoneName: lornu-ai-zone
          serviceAccountSecretRef:
            name: clouddns-dns01-solver-sa
            key: key.json
