apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- serviceaccount.yaml
- configmap.yaml
- configmap-assets.yaml
- secret.yaml
- deployment.yaml
- service.yaml
- ingress.yaml
