apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base
- namespace.yaml

namespace: lornu-prod

commonLabels:
  lornu.ai/environment: production
  lornu.ai/managed-by: plan-a-orchestration
  lornu.ai/asset-id: lornu-ai-production-app

patches:
- target:
    kind: Deployment
    name: lornu-ai
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 3
