apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

namespace: lornu-prod

commonLabels:
  lornu.ai/environment: production
  lornu.ai/managed-by: kustomize
  lornu.ai/asset-id: lornu-ai-final-clear-bg

patches:
- target:
    kind: Deployment
    name: lornu-ai
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 3
    - op: replace
      path: /spec/template/spec/containers/0/image
      value: 702555543026.dkr.ecr.us-east-2.amazonaws.com/lornu-ai-production:latest
