apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

namespace: lornu-staging

commonLabels:
  lornu.ai/environment: staging
  lornu.ai/managed-by: kustomize

patches:
- target:
    kind: Deployment
    name: lornu-ai
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 2
