apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base
- namespace.yaml

namespace: lornu-staging

labels:
- pairs:
    lornu.ai/env: staging
  includeSelectors: true

patches:
- target:
    kind: Deployment
    name: lornu-ai
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 2
