apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: lornu-ai
resources:
- ../../base
- target-group-binding.yaml
namePrefix: prod-
commonLabels:
  environment: production
images:
- name: lornu-ai
  newName: ${{ secrets.ECR_REPOSITORY }} # Will be replaced by CI
  newTag: latest
replicas:
- name: prod-lornu-ai
  count: 3
patches:
- path: deployment-patch.yaml
configMapGenerator:
- name: lornu-ai-config
  behavior: merge
  literals:
  - environment=production
