name: "GCP Hub Provisioning"

on:
  pull_request:
    branches:
      - main # ONLY trigger on PRs to main
    paths:
      - 'hub/**' # ONLY trigger if files in the hub folder changed
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./hub

    env:
      TF_VAR_billing_account_id: ${{ secrets.GCP_BILLING_ID }}
      TF_VAR_org_id: ${{ secrets.GCP_ORG_ID }}
      TF_VAR_hub_project_id: ${{ secrets.GCP_HUB_PROJECT_ID }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -no-color