apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
- ../../base
namePrefix: staging-
commonLabels:
  environment: staging
images:
- name: lornu-ai
  newName: 148080843892.dkr.ecr.us-east-1.amazonaws.com/lornu-ai-staging
  newTag: latest
replicas:
- name: staging-lornu-ai
  count: 2
patches:
- path: deployment-patch.yaml
configMapGenerator:
- name: lornu-ai-config
  behavior: merge
  literals:
  - environment=staging
